body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.Blog-Slots {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Blog-Slots .section {
   border-bottom: 2px;
   border-bottom-style: solid;
   border-top: 2px;
   border-top-style: solid;
}

.section {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #f0f0f0;
    border-top: 10px;
}
.section h2 {
    text-align: center;
    
}